/* 

font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Anton', sans-serif;

#2980b9
#e74c3c
primary blue : #341f97
primary red: #ff6b6b
 */

 *{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     
 }

 body{
     color: #f3f3f3;
     width: 100%;
     position: relative;
       
}

/* Main page */

.main{
    width: 100vw;
    height: 100vh;
    background:#341f97;
}

.main .header__page{
    width: 100%;
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 85% 20%;
}

.main .header__page .header--logo__container .image-resp{
    width: 15%;
    margin-top: 20px;
}

.header--nav__container{
    margin: 20px;
}
.nav--toggle__container{
    width: 50px;
    height: 300px;
    background: #f3f3f3;
    height: auto;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.nav--toggle__container button{
    background: transparent;
    font-size: 2.3rem;
    border: none;
    color:#341f97;
    cursor: pointer;
    outline: none;
}
.nav--ul__container{
    text-transform: uppercase;
    visibility: hidden;
}

.nav--ul__container .nav--li li{ 
    list-style: none;
    margin: 15px 0;
}

.main .hero__page{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.hero__page .text--page__container{
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2.5vw;
    padding: 20px;
}

.hero__page .button--holder{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

.button--holder button{
    width: 85px;
    height: 71px;
    font-size: 3.5rem;
    background: transparent;
    border: 2px solid #f3f3f3;
    outline: none;
    border-radius: 9px;
    color: #f3f3f3;
    cursor: pointer;
}
/* Log Page */

.reg-log__page{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.reg--log__container{
    width: 40vw;
    height: 55vh;
    background: #f3f3f3;
    margin-top: 120px;
    border-radius: 9px;
}

.app--log__header{
    display: grid;
    grid-template-columns: 90% 5%;
}

.logo-left-container, .cancel-btn__container{
    padding: 20px;
}

.logo-left-container img{
    width: 30px;
}

.cancel-btn__container button{
    background: none;
    outline: none;
    border: none;
    font-size: 30px;
}

.app--log__text{
    color: black;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

.app-log-form__input{
    padding: 10px;
}

.form--container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form--container div{
   color: black;
   text-align: center;
}

.description--holder input{
    width: 370px;
    height: 30px;
    padding-left: 10px;
}

.round-bd{
    border: 2px solid #351f9788;
    background: transparent;
    outline: none;
    border-radius: 9px;

}

.time-moment--holder{
    width: 370px;
    display: grid;
    grid-template-columns: 90% 10%;
    text-align: center;
    margin: 10px 10px;
    padding: 0px;
}

.current--time-input{
    width: 100px;
}

.notify-input{
    display: inline-block;
}

.notify-input .remove--border{
    display: inline;
    border: none;
    padding: 20px;
    bor
}

.description-time{
    width: 70px;
    height: 30px;
    padding-left: 5px;
}

.when--container{
    height: 33px;
}
.input-current-time-container{
    text-align: center;
}
.current--time-input{
    padding: 10px 0;
}

.input--notearea-container textarea{
    width: 370px;
    height: 100px;
    padding-left: 10px;
    padding-top: 5px;
}

.input--notearea-container{
    margin: 10px 0;
}
.button--container{
    text-align: center;
}

.buttons--holder{
    width: 150px;
    height: 50px;
    background: #341f97;
    color: #f3f3f3;
}