/* 

font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Anton', sans-serif;

#2980b9
#e74c3c
primary blue : #341f97
primary red: #ff6b6b
 */